p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--main-page-background);
}
:root {
  --title-color: #2e2f42;
  --background-color: #e5e5e5;
  --logo-color: #4d5ae5;
  --main-color: #434455;
  --filter-background: #f4f4fd;
  --main-page-background: #ffffff;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*Header*/
.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}
.span-logo {
  color: var(--title-color);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.header-email-phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-email-phone:hover,
.header-email-phone:focus {
  color: #404bbf;
}
/*Studio page main*/
.hero-section {
  background-color: var(--title-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--logo-color);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: 0px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.section-features {
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
}
.feature-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.feature-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.work-examples {
  padding-top: 0;
}
.examples-list {
  display: flex;
  gap: 24px;
}
.examples-item {
  width: calc((100% - 48px) / 3);
}
.examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.section-contacts {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.contacts-list {
  display: flex;
  gap: 24px;
}
.contacts-items {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}
.contacts-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
/*.card-content {
  padding: 32px 16px;
}*/
.contact-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.contact-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  /*padding-top: 8px;
  padding-bottom: 32px;*/
}
/*Footer*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: block;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  width: 264px;
}
.span-logo-footer {
  color: #f4f4fd;
}
/*Portfolio*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.filter-item-card {
  width: calc((100% - 48px) / 3);
  width: 360px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  cursor: pointer;
  background-color: var(--filter-background);
  padding: 12px 24px;
  min-width: 96px;
  min-height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border-color: transparent;
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.portfolio-item-description {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
